<!-- Show tittle -->
<div id="content-wrapper">
    <div class="container-fluid mb-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> <%-title-%> </li>
        </ol>
        <!-- Show subtitle -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="<%-icon-%>"></i>
                <%-subTitle-%>
            </div>
            <div class="card-body">