<!-- Show title -->
<div id="content-wrapper">
  <div class="container-fluid mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"> <%-title-%> </li>
    </ol>

    <div class="accordion" id="accordionExample">
      <div class="card mb-3">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-info"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              INSTRUCCIONES
            </button>
          </h2>
        </div>

        <!-- Show instructions -->
        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <%-instructions-%>
          </div>
        </div>
      </div>
    </div>

    <!-- Show subtitle -->
    <div class="card mb-3">
      <div class="card-header">
        <i class= "<%-icon-%>"></i>
        <%-subTitle-%>
      </div>
      <div class="card-body">

